USE [HiringTracker]
GO
/****** Object:  StoredProcedure [dbo].[p_Utils_PopulateTestData_Skills]    Script Date: 8/21/2021 12:25:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[p_Utils_PopulateTestData_Skills] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

    DECLARE @Skills AS dbo.TYPE_Skills

	INSERT INTO @Skills
	SELECT 1, 'C++' UNION
	SELECT 2, 'C#' UNION
	SELECT 3, 'JAVA' UNION
	SELECT 4, 'PYTHON' UNION
	SELECT 5, 'JAVASCRIPT' UNION
	SELECT 6, '.NET' UNION
	SELECT 7, '.NET CORE' UNION
	SELECT 8, 'VB.NET' UNION
	SELECT 9, 'WEBAPI' UNION
	SELECT 10, 'SPRING' UNION
	SELECT 11, 'KAFKA' UNION
	SELECT 12, 'ACTIVEMQ' UNION
	SELECT 13, 'MS SQL SERVER' UNION
	SELECT 14, 'T-SQL' UNION
	SELECT 15, 'APACHE TOMCAT' UNION
	SELECT 16, 'ORACLE' UNION
	SELECT 17, 'PL/SQL' UNION
	SELECT 18, 'JENKINS' UNION
	SELECT 19, 'BAMBOO' UNION
	SELECT 20, 'AZURE DEVOPS' 

	SET IDENTITY_INSERT dbo.[Skill] ON; 

	MERGE dbo.Skill t USING @Skills s
	ON t.ID = s.SkillID
	WHEN MATCHED THEN
		UPDATE SET
			t.[Name] = s.[Name]
	WHEN NOT MATCHED THEN
		INSERT ([ID], [Name]) VALUES (s.[SkillID], s.[Name]);

	SET IDENTITY_INSERT dbo.[Skill] ON;

END
GO
