USE [HiringTracker]
GO
/****** Object:  StoredProcedure [dbo].[p_CandidateComment_Delete]    Script Date: 8/21/2021 12:25:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_CandidateComment_Delete]
		@CandidateID BIGINT,	
		@CommentID BIGINT,	
		@Removed BIT OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;
    
	IF( EXISTS( SELECT 1 FROM [dbo].[CandidateComment]  
				WHERE 
							[CandidateID] = @CandidateID	AND
							[CommentID] = @CommentID	
				) )
	BEGIN
		DELETE 
		FROM 
			[dbo].[CandidateComment] 
		WHERE 
						[CandidateID] = @CandidateID	AND
						[CommentID] = @CommentID	
			
		SET @Removed = 1
	END
	ELSE
		SET @Removed = 0
END
GO
