USE [HiringTracker]
GO
/****** Object:  StoredProcedure [dbo].[p_User_GetDetailsByLogin]    Script Date: 8/21/2021 12:25:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_User_GetDetailsByLogin]
	@Login NVARCHAR(50),
	@Found BIT OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	IF(EXISTS(SELECT 1 FROM dbo.[User] p WHERE LOWER(p.[Login]) = LOWER(@Login))) 
	BEGIN
		SET @Found = 1; -- notifying that record was found

		SELECT 
			p.*
		FROM
			dbo.[User] p		
		WHERE
			LOWER(p.[Login]) = LOWER(@Login)
	
	END
	ELSE
	BEGIN
		SET @Found = 0; -- notifying that record was not found
	END
END
GO
